<h1>You are successfully registered on the portal <b>UNICEF SMART CONTRACT IP</b></h1>

<p>
    To complete registration you need to click on the activation link
</p>

<a href="<%= activationLink %>" target="_blank"><%= activationLink %></a>

<p>
    <i>Thank you for registering!</i>
</p>