<h1>Failure!</h1>

<p>
    Your company <%= partner.nameEn %> was rejected on the portal <b>UNICEF SMART CONTRACT IP</b>
</p>
<p>
    <b>Reject reason:</b><br/>
    <%= reason %>
</p>
<p>
    <i>Thank you!</i>
</p>