<h1>Отказ!</h1>

<p>
    Ваша компания <%= partner.nameEn %> была отклонена на портале <b>UNICEF SMART CONTRACT IP</b>
</p>
<p>
    <b>Причина отказа:</b><br/>
    <%= reason %>
</p>
<p>
    <i>Спасибо!</i>
</p>