<h1>Здравствуйте!</h1>

<p>
    Ваша компания успешно была назначена на проект <%= project.titleRu %> в системе <b>UNICEF SMART CONTRACT IP</b>
</p>

<p>
    <i>Время сформировать первый FACE запрос!</i>
</p>