<h1>Hello!</h1>

<p>
    You have already been assigned as the responsible officer for the project <%= project.titleEn %> on the portal <b>UNICEF SMART CONTRACT IP</b>
</p>

<p>
    <i>Thank you!</i>
</p>