<h1>Здравствуйте!</h1>

<p>
    На проект <%= project.titleRu %> успешно назначен партнер "<%= partner.nameRu %>" в системе <b>UNICEF SMART CONTRACT IP</b>
</p>

<p>
    <i>Время следить за проектом!</i>
</p>