<h1>Проект : <%= project.titleRu %> был отменен</h1>

<p>
    Проект <%= project.titleRu %> был отменен в системе <b>UNICEF SMART CONTRACT IP</b>
    <b>Причина отмены: </b> <%= terminationReason %>
</p>

<p>
    <i>Приносим свои извинения!</i>
</p>