<h1>Project : <%= project.titleEn> was created</h1>

<p>
    You have successfully created a project <%= project.titleEn %> on the portal <b>UNICEF SMART CONTRACT IP</b>
</p>

<p>
    <i>Thank you!</i>
</p>