<h1>Hello!</h1>

<p>
    A partner <%= partner.nameEn %> has been assigned to your project <%= project.titleEn %> on the portal <b>UNICEF SMART CONTRACT IP</b>
</p>

<p>
    <i>It's time to follow the project!</i>
</p>