<h1>Ваш запрос <%= faceRequest %> на проекте <%= project.titleRu %> был одобрен</h1>

<p>
    Ваш запрос на проекте <%= project.titleRu %> был одобрен в системе <b>UNICEF SMART CONTRACT IP</b><br>
</p>

<p>
    <i>Поздравляем!</i>
</p>