<h1>Ваша ссылка для восстановления пароля ниже <b>UNICEF SMART CONTRACT IP</b></h1>

<p>
    Для завершения восстановления пароля перейдите по ссылке ниже
</p>

<a href="<%= passwordLink %>" target="_blank"><%= passwordLink %></a>

<p>
    <i>В случае если Вы не восстанавливали пароль на сайте, просто проигнорируйте это письмо</i>
</p>