<h1>Your password recovery link is below <b>UNICEF SMART CONTRACT IP</b></h1>

<p>
    To complete password recovery you need to click on letter link to set your new account password
</p>

<a href="<%= passwordLink %>" target="_blank"><%= passwordLink %></a>

<p>
    <i>If you didn't do this, just ignore this letter</i>
</p>