<h1>You was successfully registered on the portal <b>UNICEF SMART CONTRACT IP</b></h1>

<p>
    To complete registration you need to click on letter link to set your account password
</p>

<a href="<%= passwordLink %>" target="_blank"><%= passwordLink %></a>

<p>
    <i>Thank you for registering!</i>
</p>