<h1>Вас зарегистрировали на портале <b>UNICEF SMART CONTRACT IP</b></h1>

<p>
    Для завершения регистрации Вам необходимо перейти по ссылке для установки своего пароля
</p>

<a href="<%= passwordLink %>" target="_blank"><%= passwordLink %></a>

<p>
    <i>Спасибо за регистрацию!</i>
</p>