<h1>Ваш запрос <%= faceRequest %> на проекте  <%= project.titleRu %> был одобрен!</h1>

<p>
    Вы получили транш по запросу №<%= faceRequest %> в размере <%= amount %> DGS.<br>
    <b>UNICEF SMART CONTRACT IP</b><br>
</p>

<p>
    <i>Поздравляем!</i>
</p>